@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* KLVL-värit valmiiksi muuttujina */
  --klvl-blue: #0072bc;
  --klvl-yellow: #ffcb05;
}

/* Poistetaan vanha @theme ja Arial-pakote */
body {
  background: var(--background);
  color: var(--foreground);
  /* Tämä varmistaa, että layoutissa määritelty fontti periytyy */
  font-family: inherit; 
}
